header{
    background: no-repeat center center;
    background-size: cover;
    color: white;
}
.color-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
}

footer{
    background-color: #3a3a3a;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: #dfdfdf;
}

#me img[src^="images/Bong.jpg"]{
    border-radius: 50%;
}

@media( max-width: 767.98px){
    .color-overlay{
        min-height: 30vh;
    }
}
