header{
    background: no-repeat center center;
    background-size: cover;
    color: white;
}
.color-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 60vh;
}

footer{
    background-color: #3a3a3a;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: #dfdfdf;
}

#me img[src^="images/Bong.jpg"]{
    border-radius: 50%;
}

/* <!-- ---- Specials ---- --> */
.special-img span{
    top: 20px;
    right: 20px;
  }
  .special-img:hover img{
    transform: scale(1.2);
  }
  .special-img img{
    transition: all 0.3s ease;
  }

@media( max-width: 767.98px){
    .color-overlay{
        min-height: 30vh;
    }
}
